<div class="card">
  <h5 class="card-header">Theory</h5>
  <div class="card-body">
    <h5 class="card-title">Bitset</h5>
    <p class="card-text">The class template bitset represents a fixed-size sequence of N bits. Bitsets can be manipulated by standard logic operators and converted to and from strings and integers.</p>
    <%= link_to 'Let\'s try', user_bitset_path, class: 'btn btn-secondary' %>
  </div>
</div>
