<div class="card">
  <div class="card-header">
    Sandbox
  </div>
  <br class="card-body">
    <h5 class="card-title">Bitset</h5>
    {<div id="js-bitset">1010</div>}</br>
  </div>
  <button id="js-set" class="btn-primary btn mt-4" type="button">Set</button>
  <button id="js-get" class="btn-primary btn mt-4" type="button">Get At</button>
  <button id="js-reset" class="btn-primary btn mt-4" type="button">Reset</button>
  <button id="js-flip" class="btn-primary btn mt-4" type="button">Flip</button>
</div>
